@media only screen and (max-width: 1200px)and (min-width: 481px){
    *{
      margin: 0px;
       font-family: 'Noto Sans JP', sans-serif;
  }
   /*スクロールバー*/
*{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
*::-webkit-scrollbar{
  display:none;
}
  main{
    z-index: 90;
  }
  h2{
    font-size: 24px;
  }
  /*ヘッダー*/
  header{
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      display:table;
      z-index: 9999;
      /*background-color: rgba(214, 214, 214, 0);*/
      background:#d3d3d3;
  }
  header h1{
    margin-left: 25px;
    font-size: 35px;
    width: 200px;
    }
    .header{
      display:table-cell;
      vertical-align:middle;
    }
    .headermenu{
      display: none;
    }
  header h1 a{
    text-decoration:none;
    color: #333;
  }
  header h3 a{
    margin-left: 25px;
    text-decoration:none;
    color: #333;
  }
  .honbun{
    margin-right: 15vw;
    margin-left: 15vw;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 40px;
    padding-top: 10px;
    border-radius: 10px;
    border: 1px solid rgb(248, 157, 88);
    box-shadow: 10px 10px 10px -10px rgb(255, 113, 4);
}
.content h1
{
  font-size: 30px;
}
.content img{
  width: 25vw;
}
.content p{
  margin-top: 40px;
}
.honbun a{
  color: black;
}
.content{
  margin-top: 60px;
}
video{
  padding-top: 50px;
  width: 60vw;
  margin: auto;
}
  .school{
    background-color: rgb(248, 248, 248);
    padding-left: 40px;
    width: 100%;
  }
  /*フッター*/
  footer{
    background-color: rgb(248, 248, 248);
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
    
  }
  }
